body {
  
    background-color:  rgb(177, 191, 218);
  }
    
  h1 {
    background-color: rgb(206, 148, 23);
  }
  
  div {
    background-color: rgb(42, 67, 211);
  }
  
  p {
    background-color: rgb(228, 188, 10);
  }
  

.container {
    
    max-width: 800px;
    margin: auto;
    background-color: rgb(141, 96, 158);
    box-shadow: 0 30px 30px #222;
  }
  .container fieldset {
      border: 0 none;
      margin: 0;
      padding: 20px;
  }
  .container legend,
  .container form fieldset input {
    font-family: Open Sans;
    font-size:15px;
  }
  .container form legend {
      background-color: #ebcf52;
      border-top: 0 none;
      color: rgb(179, 19, 19);
      display: table-cell;
      padding: 10px 20px;
      width: auto;
  }



 
  
  